/*
*  DISEÑADO POR MIS. DANIEL MÉNDEZ CRUZ
*/
/* STILOS DE CARRUSEL */

html {
  min-height: 100%;
  height: 100%;
}

body {
  height: 100%;
}

  .carousel-item {
    height: 55vh;
    min-height: 200px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;
    object-fit: cover;
    object-position: center center;
  }


  * {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  }
  
  .ticker-container {
    height: 60px;
    width: 100%;
    text-align: center;
    position: relative;
    overflow: hidden;
    background-color: rgb(66, 65, 65);
    color: white;
    /*background-color: white;
    color: black;*/
    font-size: 1.1em;
    margin-bottom: 15px;
  }
  .ticker-container .ticker-caption {
    height: 50%;
    width: 100%;
    background-color: #EC0B43;
    display: table;
    position: absolute;
    color: white;
    font-size: 0.8em;
    z-index: 1;
  }
  .ticker-container .ticker-caption p {
    height: inherit;
    width: inherit;
    display: table-cell;
    vertical-align: middle;
    font-weight: bold;
  }
  .ticker-container ul {
    list-style: none;
    padding: 0;
    height: auto;
  }
  .ticker-container ul div {
    overflow: hidden;
    position: absolute;
    z-index: 0;
    display: inline;
    min-width: 100%;
    left: 0;
    height: 50%;
    transition: 0.25s ease-in-out;
  }
  .ticker-container ul div.ticker-active {
    top: 30px;
  }
  .ticker-container ul div.not-active {
    top: 60px;
  }
  .ticker-container ul div.remove {
    top: 0;
  }
  .ticker-container ul div li {
    padding: 5px 0;
  }
  .ticker-container ul div li a {
    color: #EC0B43;
  }

  .video-fluid {
    width: 100%;
    height: 250px;
  }

  video {
    max-width: 100%;
    max-height: 350px;
  }

  .img_card{
    max-width: 100%;
    max-height: 350px;
  }
  
  @media (min-width: 500px) {
    .ticker-container {
      height: 30px;
      text-align: left;
    }
    .ticker-container .ticker-caption {
      height: 100%;
      width: 150px;
      background: url('../../Imagenes_Pagina/ticker-caption-bg.png');
    }
    .ticker-container .ticker-caption p {
      text-align: left;
      padding-left: 7px;
    }
    .ticker-container ul {
      margin-left: 170px;
      height: 100%;
    }
    .ticker-container ul div {
      height: 100%;
      left: 170px;
    }
    .ticker-container ul div.ticker-active {
      top: 0;
    }
    .ticker-container ul div.not-active {
      top: 30px;
    }
    .ticker-container ul div.remove {
      top: -30px;
    }

    section.banner_secundario img {
      width: 100%;
      height: 7em;
      position: relative;
    }

    video {
      max-width: 100%;
      max-height: auto;
    }

  }
  
  @media (min-width: 768px) {
    .ticker-container {
      margin-bottom: 10px;
    }
    section.banner_secundario img {
      width: 100%;
      height: 8em;
      position: relative;
    }
    video {
      max-width: 100%;
      max-height: auto;
    }

    .comunicados .redes_sociales {
      text-align: right;
      max-width: 100%;
      top: 2em;
      position: absolute;
    }
  }
  
  @media (min-width: 992px) {
    .ticker-container {
      margin-bottom: 20px;
    }

    section.banner_secundario img {
      width: 100%;
      height: 17em;
      position: relative;
    }
    video {
      max-width: 100%;
      max-height: auto;
    }
  }

  /* media de 1200 */
  @media only screen and (max-width: 1200px) {
    section.banner_secundario {
      width: 100%;
      height: 12em;
      position: relative;
    }
  }

  /* IMAGENES DE LA CARTA */
  img.carta {
    border-radius: 0.5rem 0.5rem 0 0;
    width: 100%;
    object-fit: cover;
    /* // height: max(10rem, 25vh); */
    max-height: max(10rem, 30vh);
    aspect-ratio: 4/3;
    mix-blend-mode: var(--card-blend-mode);
     /* filter: grayscale(100); */
  }


  .card-wrapper {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
    grid-gap: 1.5rem;
    max-width: 100vw;
    width: 120ch;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .responsive {
    max-width: 100%;
    height: auto;
  }

  /*
    CAROUSEL PLUG IN CSS STYLE
  */
  .slider {
    width: 100%;
    height: 250px;
    margin-bottom: 1rem !important;
    margin-top: 1em !important;
  }

.slick-slide {
  margin: 0px 0px;
}

.slick-slide img {
  width: 100%;
  height: 250px;
  margin-bottom: 1rem !important;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}


.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}

.slick-active {
  opacity: .5;
}

.slick-current {
  opacity: 1;
}

/*
* MEDIAS QUERIES PARA DISPOSITIVOS MOVILES
*/
@media (max-width: 480px) {
  .responsive {
    max-width: 100%;
    height: auto;
  }

  .slider {
    width: 100%;
    height: auto;
  }

  .slick-slide {
    margin: 0px 0px;
  }

  .slick-slide img {
    width: 100%;
    height: auto;
  }

  video {
    max-width: 100%;
    max-height: auto;
  }
  .carousel-item {
    height: auto;
    width: 100%;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;
  }

  /* responsividad para resolución de tabletas y ipads */
  .vid-list-container {
    padding-bottom: 20px;
  }
  .arrows {
    position:relative;
    margin: 0 auto;
    width:96px;
  }
  .arrow-left {
    left: 0;
    top: -17px;
  }

  .arrow-right {
    right: 0;
    top: -17px;
  }

  /*profile card revista digital*/
  .profile-card-2 img {
    transition: all linear 0.25s;
    width: 100%;
    object-fit: cover;
    background: no-repeat center center scroll;
    background-size: cover;
    height: auto;
  }
}

/*
* MEDIAS QUERIES PARA BAJA RESOLUCIÓN TABLETAS Y IPADS
*/
@media (min-width: 481px) and (max-width: 767px) {
  .responsive {
    max-width: 100%;
    height: auto;
  }

  .slider {
    width: 100%;
    height: auto;
  }

  .slick-slide {
    margin: 0px 0px;
  }

  .slick-slide img {
    width: 100%;
    height: auto;
  }
  /* responsividad para resolución de tabletas y ipads */
  .vid-list-container {
    padding-bottom: 20px;
  }
  .arrows {
    position:relative;
    margin: 0 auto;
    width:96px;
  }
  .arrow-left {
    left: 0;
    top: -17px;
  }

  .arrow-right {
    right: 0;
    top: -17px;
  }
}

/*
* MEDIA QUERY PARA TABLETAS IPAD MODO VERTICAL
*/
@media (min-width: 768px) and (max-width: 1024px) {
  .responsive {
    max-width: 100%;
    height: auto;
  }

  .slider {
    width: 100%;
    height: auto;
  }

  .slick-slide {
    margin: 0px 0px;
  }

  .slick-slide img {
    width: 100%;
    height: auto;
  }
}
/* Media Query para laptops y escritorios */
@media (min-width: 1025px) and (max-width: 1280px){
  .responsive {
    max-width: 100%;
    height: auto;
  }

  .slider {
    width: 100%;
    height: auto;
    margin-bottom: .3rem !important;
  }

  .slick-slide {
    margin: 0px 0px;
  }

  .slick-slide img {
    width: 100%;
    height: auto;
    margin-bottom: .3rem !important;
  }
}

/*SEPERADOR*/
.comunicados .separador {
  width: 40px;
  height: 2px;
  background: #ccc;
  margin: 0 0 15px 0;
}

/* LAYOUTS  NUEVO PARA REVISTA */
.profile-card-2 {
  /* max-width: 300px; */
  width: 100%;
  background-color: #FFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
  background: no-repeat center center scroll;
  background-size: cover;
  overflow: hidden;
  margin: 10px auto;
  cursor: pointer;
  border-radius: 10px;
  height: 340px;
}

.profile-card-2 img {
  transition: all linear 0.25s;
  width: 100%;
  object-fit: cover;
  background: no-repeat center center scroll;
  background-size: cover;
}

.profile-card-2 .profile-img img {
  height: 100px;
  margin: auto;
  border-radius: 50%;
  border: 5px solid #FFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.profile-card-2 .profile-name {
  position: absolute;
  left: 30px;
  bottom: 70px;
  font-size: 30px;
  color: #FFF;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  transition: all linear 0.25s;
}

.profile-card-2 .profile-icons {
  position: absolute;
  bottom: 30px;
  right: 30px;
  color: #FFF;
  transition: all linear 0.25s;
}

.profile-card-2 .profile-username {
  position: absolute;
  bottom: 85px;
  left: 30px;
  color: goldenrod;
  font-size: 13px;
  transition: all linear 0.25s;
}

.profile-card-2 .profile-icons .fa {
  margin: 5px;
}

.profile-card-2:hover img {
  filter: grayscale(100%);
}

.profile-card-2:hover .profile-name {
  bottom: 80px;
}

.profile-card-2:hover .profile-username {
  bottom: 75px;
}

.profile-card-2:hover .profile-icons {
  right: 40px;
}

/*  VIDEOS PLAYLIST 
 		############################### */
     .vid-list-container {
			width: 92%;
			overflow: hidden;
			margin-top: 20px;
			margin-left:4%;
			padding-bottom: 20px;
		}

		.vid-list {
			width: 1344px;
			position: relative;
			top:0;
			left: 0;
		}

		.vid-item {
			display: block;
			width: 150px;
			height: 150px;
			float: left;
			margin: 0;
			padding: 10px;
		}

		.thumb {
			/*position: relative;*/
			overflow:hidden;
			height: 84px;
		}

		.thumb img {
			width: 100%;
			position: relative;
			top: -13px;
		}

		.vid-item .desc {
			color: #21A1D2;
			font-size: 15px;
			margin-top:5px;
		}

		.vid-item:hover {
			background: #eee;
			cursor: pointer;
		}

    .arrows {
			position:relative;
			width: 100%;
		}

		.arrow-left {
			color: #fff;
			position: absolute;
			background: #777;
			padding: 15px;
			left: 4px;
			top: -130px;
			z-index: 99;
			cursor: pointer;
		}

		.arrow-right {
			color: #fff;
			position: absolute;
			background: #777;
			padding: 15px;
			right: 4px;
			top: -130px;
			z-index:100;
			cursor: pointer;
		}

		.arrow-left:hover {
			background: #CC181E;
		}

		.arrow-right:hover {
			background: #CC181E;
		}