body {padding-top: 110px; background: #CCC}
nav .nombre-plugin {font-size: 20px}
nav .link-post {padding-top: 5px}
.container {margin: 0;width: 100%;}
.col-xs-12 {width: 100%;padding:0;overflow: hidden}

.fila2 {margin-top: 25px}

.col-xs-3 {height:250px; -webkit-box-shadow: 0px 3px 8px 0px rgba(50, 50, 50, 0.6);
-moz-box-shadow:    0px 3px 8px 0px rgba(50, 50, 50, 0.6);
box-shadow:         0px 3px 8px 0px rgba(50, 50, 50, 0.6);}


.endeos-unslider { position: relative; overflow: auto; height: 400px!important;text-align: center;
				-webkit-box-shadow: 0px 7px 8px 0px rgba(50, 50, 50, 0.6);
				-moz-box-shadow:    0px 7px 8px 0px rgba(50, 50, 50, 0.6);
				box-shadow:         0px 7px 8px 0px rgba(50, 50, 50, 0.6);}

    .endeos-unslider li { list-style: none; }
    	.endeos-unslider ul {padding:0;}
        	.endeos-unslider ul li { float: left; height:400px!important; width: 25%!important;display: block}
        		.endeos-unslider ul li p {font-size: 9px;float: right; margin-right: 10px; margin-top: 380px}

.endeos-unslider .btn, .endeos-unslider .dot {
		-webkit-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
		-moz-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
		-ms-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
		-o-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
		filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
	}
	
	.endeos-unslider .dots {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 20px;
	}
		.endeos-unslider .dots li {
			display: inline-block;
			width: 10px;
			height: 10px;
			margin: 0 4px;
			
			text-indent: -999em;
			
			border: 2px solid #fff;
			border-radius: 6px;
			
			cursor: pointer;
			opacity: .4;
			
			-webkit-transition: background .5s, opacity .5s;
			-moz-transition: background .5s, opacity .5s;
			transition: background .5s, opacity .5s;
		}
			.endeos-unslider .dots li.active {
				background: #fff;
				opacity: 1;
			}

@media (max-width: 950px) {
	h2 {font-size: 24px}
}

@media (max-width: 750px) {
	h2 {font-size: 16px}
}

@media (max-width: 600px) {
	.col-xs-3 {width: 50%;height:200px}
	h2 {font-size: 20px;}
}

@media (max-width: 380px) {
	.col-xs-3 {width: 100%;height:200px}
	h2 {font-size: 16px; font-weight: bold}
}